export CONDA_DEFAULT_ENV=mhd-env
export CONDA_PREFIX='C:\Users\strid\miniconda3\envs\mhd-env'
PATH_add /c/Users/strid/miniconda3/envs/mhd-env/bin
PATH_add /c/Users/strid/miniconda3/envs/mhd-env/Scripts
PATH_add /c/Users/strid/miniconda3/envs/mhd-env/Library/bin
PATH_add /c/Users/strid/miniconda3/envs/mhd-env/Library/usr/bin
PATH_add /c/Users/strid/miniconda3/envs/mhd-env/Library/mingw-w64/bin
PATH_add /c/Users/strid/miniconda3/envs/mhd-env
